@import url('https://fonts.googleapis.com/css2?family=Corben&display=swap');

/* Blog Logo */
.blogTitle {
position: absolute;
width: 1890px;
 height: 265px;
left: 0px;
top: 0px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
}

    /* Logo Frame */
    #logoFrame {
    position: absolute;
    width: 852px;
    height: 220px;
    left: 534px;
    top: 0px;
    line-height: 150px;
    margin: 0px auto;
    }

    #item1 { /* } */
    position: absolute;
    width: 45px;
    left: calc(50% - 45px/2 + 341.5px);
    top: -25px;
    bottom: 0px;

    font-family: Courier New;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 163px;

    color: #000000;
    }

    #item2 { /* Coding */
        position: absolute;
        width: 235px;
        height: 51px;
        left: 127px;
        top: 18px;
        
        font-family: Courier;
        font-style: normal;
        font-weight: normal;
        font-size: 60px;
        line-height: 69px;
        
        color: #000000;
    }

    #item3 { /* with */

        position: absolute;
        width: 198px;
        height: 54px;
        left: 343px;
        top: 72px;
        
        font-family: Courier;
        font-style: normal;
        font-weight: normal;
        font-size: 60px;
        line-height: 69px;
        
        color: #000000;
    }

    #item4 { /* Kendall */
    position: absolute;
    width: 284px;
    height: 50px;
    left: 487px;
    top: 126px;

    font-family: Courier;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 69px;

    color: #000000;
        
    }

    #item5 { /* { */
        position: absolute;
        width: 62px;
        left: 22px;
        top: -53px;
        bottom: 0px;
        
        font-family: Courier New;
        font-style: normal;
        font-weight: normal;
        font-size: 144px;
        line-height: 163px;
        
        color: #000000;
    }

/* Header Container */  
.blogHeader {
position: absolute;
width: 1890px;
height: 120px;
left: 0px;
top: 265px;
padding-top: 25px;
border: 1px solid #FA2E2E;
box-sizing: border-box;
}

.blogHeader a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding-right: 180px; 
    padding-left: 185px;
    text-decoration: none;
    display: inline;
    
    font-family: Corben;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 89px;
}
    .blogHeader a:hover {
        color:darkolivegreen
    }

    /* home */
    home a {
    position: absolute;
    width: 126px;
    height: 93px;
    left: 160px;
    top: 38px;
    }

    /* blog */
    blog a {
    position: absolute;
    width: 95px;
    height: 93px;
    left: 605px;
    top: 38px;
    }

    /* projects */
    project a {
    position: absolute;
    width: 178px;
    height: 93px;
    left: 1019px;
    top: 38px;
    }

    /* contact me */
    contact a {
    position: absolute;
    width: 245px;
    height: 93px;
    left: 1516px;
    top: 38px;
    }

 /* Blog post */
.blogBody {
position: absolute;
width: 1890px;
height: 1415px;
left: -2px;
top: 386px;

border: 1px solid #1EB591;
box-sizing: border-box;
}

    /* picture */
    .blogBody img {
    position: absolute;
    width: 172px;
    height: 172px;
    left: 366px;
    top: 115px;
    border-radius: 50%;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }


    /* Kendall McCleary */
    #author_name {
    position: absolute;
    width: 201px;
    height: 35px;
    left: 352px;
    top: 300px;

    font-family: Corben;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 44px;

    color: #000000;
    }

    /* date */
    #date_posted {
    position: absolute;
    width: 120px;
    height: 44px;
    left: 318px;
    top: 350px;

    font-family: Corben;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 44px;

    color: #000000;
    }

    /* time */
    #time_posted {
    position: absolute;
    width: 60px;
    height: 44px;
    left: 520px;
    top: 350px;
        
    font-family: Corben;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 44px;
        
    color: #000000;
    }
        

    /* blog content */
    .blog_content {
    position: absolute;
    width: 925px;
    height: 1182px;
    left: 678px;
    top: 115px;

    background: #C4C4C4;
    border-radius: 40px;
    }

    /* Blog Name */
    #blog_name {
    position: absolute;
    width: 1000px;
    height: 90px;
    left: 720px;
    top: 50px;
    word-spacing: 25px;
        
    font-family: Corben;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 102px;
        
    color: #000000;
    }

    /* blog content */
    .blog_content {
    position: absolute;
    width: 925px;
    height: 1182px;
    left: 682px;
    top: 217px;

    background: #C4C4C4;
    border-radius: 40px;
    }

/* Comment Section */
.commentSection {
position: absolute;
width: 1890px;
height: 1592px;
left: 0px;
top: 1798px;

border: 1px solid #B21FE6;
}

.comment_container {
position: absolute;
width: 1271px;
height: 612px;
left: 317px;
top: 147px;

/* border: 1px solid #B21FE6; */
box-sizing: border-box;
}

    /* Leave a Comment */
    #comment_promt {
    position: absolute;
    width: 1271px;
    height: 98px;
    left: 350px;
    top: 40px;
    
    font-family: Corben;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 102px;
    
    color: #000000;
    }

    /* Comment */
    #comment {
    position: absolute;
    width: 898px;
    height: 205px;
    left: 194px;
    top: 52px;

    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 25px;

    padding: 12px 20px;
    resize: none;
    }

    /* Name * */
    .cName {
    position: absolute;
    width: 100px;
    height: 44px;
    left: 310px;
    top: 306px;
    
    font-family: Corben;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 44px;
    
    color: #000000;
    }
    
        .cName::after { 
            content: " *";
            color:#FA2E2E;
        }

    /* Name Field */
    #comment_name { 
    position: absolute;
    width: 478px;
    height: 55px;
    left: 115px;
    top: 0px;

    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 25px;
    }

    /* 
    Email*
    .cEmail { 
    position: absolute;
    width: 100px;
    height: 44px;
    left: 310px;
    top: 406px;

    font-family: Corben;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 44px;

    color: #000000;
    }

    .cEmail::after { 
        content: " *";
        color:#FA2E2E;
    }

    Email Field 
    #comment_email { 
    position: absolute;
    width: 478px;
    height: 55px;
    left: 115px;
    top: 0px;

    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 25px;
    }
    */

    /* Post Button */
    #comment_post {
    position: absolute;
    width: 200px;
    height: 65px;
    left: 565px;
    top: 400px;
    padding-top: 0px;
    padding-bottom: 10px;
    
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 50px;
    }
    
    
    /* Post */ 
    input[type=submit] {
    position: absolute;
    width: 80px;
    height: 51px;
    left: 603px;
    top: 300px;
    
    font-family: Corben;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 56px;
    
    color: #000000;
    } 

/* posted comment container */
.commentPosted {
position: absolute;
width: 1267px;
height: 366px;
left: 317px;
top: 834px;
    
border: 1px solid #0F19F8;
box-sizing: border-box;
}

/* Ellipse 1 */
.poster_icon {
position: absolute;
width: 96px;
height: 105px;
left: 19px;
top: -75px;

font-family: Font Awesome 5 Free;
font-style: normal;
font-weight: normal;
font-size: 85px;
line-height: 110px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* name */
#poster_comment_name {
position: absolute;
width: 1091px;
height: 51px;
left: 141px;
top: 34px;

font-family: Corben;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 56px;

color: #000000;
}

/* comment */
#posted_comment {
position: absolute;
width: 1074px;
height: 173px;
left: 141px;
top: 115px;

background: #C4C4C4;
border-radius: 25px;
}

/* date posted */
.posted_date {
position: absolute;
width: 189px;
height: 50px;
left: 977px;
top: 300px;

font-family: Corben;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 67px;
/* identical to box height */

color: #000000;
}